html{
    background:#262626;
}
body{
    background-color: #262626;
}
h1 {
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
    margin-top: 30px;
}

h2 {
    font-size: 20px;
    text-align: center;
    color: brown;
}